header
    nav
        .topheader
            .topheader-container.container
                .topheader-container_content-flex.row
                    .mynumber.topheader-items
                        <i class="fas fa-phone white"></i> 
                        a.white(href="tel:0919 999 999") 0919 999 999
                    .social.topheader-items.rps576none 
                        a(href="#")
                            <i class="fab fa-facebook-square white"></i>
                        a(href="#")
                            <i class="fab fa-google-plus-square white"></i>
                        a(href="#")
                            <i class="fab fa-twitter-square white"></i>
                    .logo
                        img(src="../asset/logo.png", alt="")
                    .login.topheader-items.rps576none 
                        a(href="#").hover-menu.white Đăng Nhập
                .topheader-container_topmenu
                    input(id="toggle-menu" type="checkbox")
                    label(for="toggle-menu" class="toggle-control")
                        span
                        span
                        span
                    ul.main-menu
                        li
                            a.hover-menu.white(href="#") trang chủ
                        li
                            a.hover-menu.white(href="#") tour
                        li
                            a.hover-menu.white(href="#") tự thiết kế
                        li  
                            
                        li
                            a.hover-menu.white(href="#") tin tức
                        li
                            a.hover-menu.white(href="#") sự kiện 
                        li
                            a.hover-menu.white(href="#") tài khoản

.bottomheader
    .bottomheader_services-container.container
        .bottomheader_services-container_menu-flex.row 
            ul.main-menu
                li.hotel 
                    a(href="#") khách sạn
                    <i class="fas fa-hotel"></i>
                li.tour
                    a(href="#") tour
                    <i class="fas fa-plane"></i>
                li.ticket
                    a(href="#") đặt vé
                    <i class="fas fa-ticket-alt"></i>
                li.car
                    a(href="#") thuê xe
                    <i class="fas fa-car"></i>
        .title-services.row
            h3 tìm khách sạn
        .services-input.row
            input.diadiem(type="text" placeholder="Địa Điểm").col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
            input.thoigiandi(type="date" name="Thời Gian Đi" placeholder="Thời Gian Đi").col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
            input.thoigianve(type="date" placeholder="Thời Gian Vế").col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
            input.gia(type="number" placeholder="Giá").col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3
                  



                        